<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../scripts/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../Content/DataTables/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="../Content/jquery-ui.css" />
</head>
<body>
    <header>
        <ul class="orange">
            <li><h2>SincoA&F</h2></li>
            <li><a class="btn" href="../Views/Users.html">Usuarios</a></li>
            <li><a class="btn" href="../Views/Products.html">Productos</a></li>
            <li><a class="btn" href="../Views/Orders.html">Órdenes</a></li>
        </ul>
    </header>

    <section>
        <article>
            <form  id="OrdersForm" method="post" action="../Services/">
                <div class="col-6">
                    <label for="concept">Concepto</label>
                    <input class="form-control" id="concept" type="text" name="concept" placeholder="Nombre"  />
                </div>
                <div class="col-6">
                    <label for="createdat">Fecha</label>
                    <input class="form-control"  id="createdat" type="text" name="createdat" placeholder="Fecha" />
                </div>
                <div>
                    <label for="productid">Articulo</label>
                    <input class="form-control" id="productid" type="text" name="productid" placeholder="Cantidad" />
                </div>
                <div>
                    <label for="quantity">Cantidad</label>
                    <input class="form-control"  id="quantity" type="number" name="quantity" placeholder="Cantidad" />
                </div>
                <div>
                    <input type="checkbox" name="imported"/>
                    <label for="imported">Importado</label>
                </div>
                <div>
                    <input class="btn orange block" type="submit" value="Guardar" />
                </div>
            </form>
        </article>
        <article>
            <table id="OrdersTable">
                <thead>
                    <tr>
                        <td>No</td>
                        <td>Name</td>
                        <td>Userame</td>
                        <td>Email</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>No</td>
                        <td>Name</td>
                        <td>Userame</td>
                        <td>Email</td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>

    <script src="../scripts/jquery-3.5.1.min.js"></script>
    <script src="../scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="../scripts/js/Orders.js"></script>
    <script src="../scripts/jquery-ui.js"></script>
</body>
</html>
