<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../scripts/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../Content/DataTables/css/jquery.dataTables.min.css" />
</head>
<body>
    <header>
        <ul class="orange">
            <li>
                <h2>SincoA&F</h2>
            </li>
            <li><a class="btn" href="../Views/Users.html">Usuarios</a></li>
            <li><a class="btn" href="../Views/Products.html">Productos</a></li>
            <li><a class="btn" href="../Views/Orders.html">Órdenes</a></li>
        </ul>
    </header>

    <section>
        <article>
            <form id="ProductsForm" method="post" action="../Services/">
                <div>
                    <label for="name">Nombre</label>
                    <input class="form-control" id="name" type="text" name="name" placeholder="Nombre" required />
                </div>
                <div>
                    <label for="quantity">Cantidad</label>
                    <input class="form-control" id="quantity" type="text" name="quantity" placeholder="Cantidad" required />
                </div>
                <div>
                    <label for="price">Precio</label>
                    <input class="form-control" id="price" type="text" name="price" placeholder="Precio" required />
                </div>
                <div>
                    <input class="btn orange block" type="submit" value="Guardar" />
                </div>
            </form>
        </article>
        <article>
            <table id="ProductTable" width="100%"></table>
        </article>
    </section>

    <script src="../scripts/jquery-3.5.1.min.js"></script>
    <script src="../scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="../scripts/js/Products.js"></script>
</body>
</html>
